<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="wrapper">
    <!-- Sign Up Form -->
    <div class="form-wrapper sign-up">
        <form th:action="@{/register}" method="post" th:object="${user}">
            <h2>Sign Up</h2>
            <div th:if="${registerError}" class="error">
                <p th:text="${registerError}"></p>
            </div>
            <div class="input-group">
                <input type="text" th:field="*{username}" required>
                <label for="">Username</label>
            </div>
            <div class="input-group">
                <input type="email" th:field="*{email}" required>
                <label for="">Email</label>
            </div>
            <div class="input-group">
                <input type="password" th:field="*{password}" required>
                <label for="">Password</label>
            </div>
            <button type="submit" class="btn">Sign Up</button>
            <div class="sign-link">
                <p>Already have an account? <a href="#" class="signIn-link">Sign In</a></p>
            </div>
        </form>
    </div>

    <!-- Login Form -->
    <div class="form-wrapper sign-in">
        <form th:action="@{/login}" method="post" th:object="${user}">
            <h2>Login</h2>
            <div th:if="${loginError}" class="error">
                <p th:text="${loginError}"></p>
            </div>
            <div class="input-group">
                <input type="text" th:field="*{username}" required>
                <label for="">Username</label>
            </div>
            <div class="input-group">
                <input type="password" th:field="*{password}" required>
                <label for="">Password</label>
            </div>
            <div class="forgot-pass">
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="sign-link">
                <p>Don't have an account? <a href="#" class="signUp-link">Sign Up</a></p>
            </div>
        </form>
    </div>
</div>
<script src="script.js" th:src="@{/script.js}"></script>
</body>
</html>
